<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trade Master</title>
    </head>
    <body>
		<div>
        	<h1>Welcome to Trade Master!</h1>
			<a href="/about">About Me</a>
		</div>
		
		<div>
			<p>Calculated: 14.06.2014, 12:14</p>
			<h2><a href="">My first calculation</a></h2>
			<p>
				Can you imagine how magic it is? It will make your life more easy!
			</p>
		</div>
		
		<div>
			<p>Calculated: 14.06.2014, 12:14</p>
			<h2><a href="">My second calculation</a></h2>
			<p>
				Can you imagine how magic it is? It will make your life more easy!
			</p>
		</div>
    </body>
</html>